.tts-page {
  padding: 5rem;
  padding-bottom: 0px;
}

.tts__group-header {
  color: #fc2d81;
}

.tts__input {
  outline: none;
  padding-bottom: 5px;
}

.tts__input:focus {
  box-shadow: 0px 1px #d6d6d6;
}

.tts-btn_update {
  @apply asr-btn_update;
  background-color: #fed5e6;
  color: #fc2d81;
}
